@media print {
  @page {
    size: 297mm 420mm;
    margin: 0;
    padding: 0;
  }
  body {
    overflow: hidden;
  }
  .interface {
    display: none !important;
  }
  .poster {
    left: 0 !important;
    top: 0 !important;
    zoom: 100% !important;
    width: 297mm !important;
  }
}

body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

.interface {
  position: fixed;
  width: 30vw;
  height: 100vh;
  border-right: 3px solid grey;
  display: flex;
  flex-direction: column;
  font-family: 'Compagnon';
  overflow: scroll;
}

.interfaceTitle {
  font-family: 'CompagnonRoman';
  font-size: 3vw !important;
}

.interface > * {
  padding: 1vw;
  font-size: 1.5vw;
  border-bottom: 3px solid grey;
}

.interface > div:last-of-type {
  border-bottom: 0px solid grey;
}

a {
  text-decoration: none;
  color: lightgreen;
}

button, input[type="file"], input {
  font-family: 'Compagnon';
  border-radius: 50px;
  background-color: black;
  color: white;
  border: 0px solid white;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

label {
  margin-bottom: 1vh;
}

textarea {
  width: 27vw;
  margin-top: 1vh;
  height: 5vh;
  font-family: 'Compagnon';
  background-color: lightgreen;
  color: grey;
}

.poster {
  position: fixed;
  top: 4vw;
  left: 100vw;
  width: 70vw;
  zoom: 45%;
}

.poster > * {
  position: absolute;
}

#backColor {
  background-color: #9966ff;
  left: 0;
  top:0;
  width: 297mm;
  height: 420mm;
  z-index: -3;
}

#backImg {
  width: 297mm;
  height: 420mm;
  z-index: -2;
  opacity: 0.6
}

#imgEvent {
  width: 165mm;
  left: 105mm;
  top: 28mm;
  z-index: -1;
}

#imgEvent > img {
  width: 100%;
  height: auto;
}

#title {
  z-index: 1;
}

#title_block {
  z-index: -1;
}

#event01 {
  text-transform: uppercase;
  font-family: 'Fablab';
  font-size:132pt;
  left: 11mm;
  top: 16mm;
  z-index: 5;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: lightpink;
  -webkit-text-stroke: 2px white;
  text-shadow: -10px -10px #9966ff;
}

#subtitle {
  font-family: 'CompagnonRoman';
  font-size: 50pt;
  left: 160mm;
  top: 150mm;
  width: 125mm;
  line-height: 120%;
  z-index: 2;
}

#subSubtitle {
  background-color: lightpink;
  padding: 2mm;
  color: #9966ff;
}


@font-face {
 font-family: "Compagnon";
 src: url("fonts/compagnon-medium-webfont.woff2") format("woff2"),
      url("fonts/compagnon-medium-webfont.woff") format("woff");
}

@font-face {
 font-family: "CompagnonRoman";
 src: url("fonts/compagnon-roman-webfont.woff2") format("woff2"),
      url("fonts/compagnon-roman-webfont.woff") format("woff");
}

@font-face {
 font-family: "Fablab";
 src: url("fonts/fablab-webfont.woff2") format("woff2"),
      url("fonts/fablab-webfont.woff") format("woff");
}
