@media print {
  @page {
    size: 120mm 110mm;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
  }

  .interface {
    display: none !important;
  }
  .poster {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;

  }

    #page_titre {
      border: 0px solid white !important;
      margin: 0% !important;
      padding: 0% !important;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
      overflow: hidden !important;
      width:  100% !important;
    }

    #texte {
      margin: 0% !important;
      padding: 0% !important;
      page-break-before: always !important;
      border: 0px solid white !important;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
      overflow: hidden !important;
      width:  100% !important;
    }


  p {
    font-size: 16pt;
    padding: 10mm !important;
  }
}



p {
  font-size: 14pt;
  font-family: "Be Vietnam Regular";
  padding: 1vw;
  margin-left: 5mm;
}

body {
  background: none;
}

.interface {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Be Vietnam Regular";
  flex-wrap: wrap;
  z-index: 5000;
  background-color: lightpink;
}

#recto {
  left: 0;
  top:  0vh;
  border-right: 3px solid black;
}

#verso {
  right: 0;
  top:  0vh;
  border-left: 3px solid black;
}

.interfaceTitle {
  font-family: "Fablab";
  font-size: 1vw !important;
  border-top: 0px solid black !important;
  text-transform: uppercase;
  text-align: center;
}

.interface > * {
  padding: 1vw;
  font-size: 1vw;
  width: 10vw;
  background-color: white;
  border-top: 3px solid black;
}

.interface > div:last-of-type {
  border-bottom: 0px solid grey;
}

.myslider {
    -webkit-appearance: none;
    background: black  ;
    width: 100%;
    height: 20px;
    opacity: 2;
   }

a {
  text-decoration: none;
  color: lightgreen;
}

button, input[type="file"], input {
  font-family: "Be Vietnam Bold";
  border-radius: 50px;
  background-color: black;
  color: white;
  border: 0px solid white;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

label {
  margin-bottom: 1vh;
}

textarea {
  width: 100%;
  margin-top: 1vh;
  height: 5vh;
  font-family: "Be Vietnam Regular";
  background-color: lightgreen;
  color: grey;
}

.poster {
  margin-top: 4vh;
  margin-left: 14vw;
  overflow: hidden;
}

.poster > * {
  position: relative;
}

svg {
  z-index: -1;
  position: absolute;
}

#blocs {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 5%;
  top: 30%;
  width: 90%;
  height: 60%;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
  overflow: hidden;
}

.red {
  width: 10%;
  height:  100%;
  background-color: red;
  color:  red;
}

.blue {
  width: 15%;
  height:  94%;
  background-color: blue;
  color: blue;
}

.green {
  width: 7%;
  height: 75%;
  background-color: green;
  color:  green;
}

#p1 {
  position: absolute;
  left: 5mm;
  top: 5mm;
}

#p2 {
  position: absolute;
  right: 20%;
  top: 35%;
  color: white;
}

#p3 {
  position: absolute;
  left: 10%;
  top: 15mm;
}

#p4 {
  position: absolute;
  left: 12%;
  top: 48%;
  color: white;
  max-width: 80% !important;
  line-height: 100% !important;
}

#page_titre {
  position: relative;
  width: 120mm;
  height: 90mm;
  border: 1px solid blue;
  margin-bottom: 1vw;
  font-family: 'Be Vietnam Regular';
  font-size: 170%;
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}


#texte {
  position: relative;
  border: 1px solid blue;
  overflow: hidden;
  width: 120mm;
  height: 90mm;
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}

#texte:hover {
  z-index: 2000;
  background-color: white;
}


@font-face {
 font-family: "Be Vietnam Regular";
 src: url("bevietnam-regular-webfont.woff2") format("woff2"),
      url("bevietnam-regular-webfont.woff") format("woff");
}

@font-face {
 font-family: "Be Vietnam Bold";
 src: url("bevietnam-bold-webfont.woff2") format("woff2"),
      url("bevietnam-bold-webfont.woff") format("woff");
}


@font-face {
 font-family: "Fablab";
 src: url("fablab-webfont.woff2") format("woff2"),
      url("fablab-webfont.woff") format("woff");
}
