@media print {
  @page {
    size: 150mm 180mm;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: transparent !important;
  }

  @page :left {
    background-color: blue;
    margin-left: 30mm;

  }
  @page :right {
    margin-right: 30mm;
  }

  .interface {
    display: none !important;
  }
  .poster {
    margin: 0 !important;

  }
    h1 {
    position: absolute;
    font-size:5vw !important;
    top:  0;
    left:  0;
    counter-reset: folio;
    width: 100mm !important;
    background-color: white;
    padding: 5mm;
  }

    #page_titre {
      margin-left: 10% !important;
      margin-top: 12% !important;
    }

    h2 {
    font-size: 36pt;
    text-indent: 7mm;
    width: 140mm;
    page-break-before: always !important;
  }

  p {
    font-size: 16pt;
    min-width: 120mm;
    max-width: 180mm;
    padding: 15mm !important;
  }
}

h2 {
  font-size: 18pt;
  text-indent: 7mm;
  font-family: "Be Vietnam Bold";
}

p {
  font-size: 14pt;
  font-family: "Be Vietnam Regular";
  padding: 2vw;
}

body {
  background: none;
}

.interface {
  position: fixed;
  width: 100vw;
  left: 0;
  top:  0vh;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Be Vietnam Regular";
  flex-wrap: wrap;
  z-index: 5000;
  background-color: white;
}

.interfaceTitle {
  font-family: "Fablab";
  font-size: 1.5vw !important;
  border-left: 0px solid black !important;
  text-transform: uppercase;
}

.interface > * {
  padding: 1vw;
  font-size: 1.5vw;
  width: 12vw;
  background-color: white;
  border-left: 3px solid black;
}

.interface > div:last-of-type {
  border-bottom: 0px solid grey;
}

.myslider {
    -webkit-appearance: none;
    background: black  ;
    width: 100%;
    height: 20px;
    opacity: 2;
   }

a {
  text-decoration: none;
  color: lightgreen;
}

button, input[type="file"], input {
  font-family: "Be Vietnam Bold";
  border-radius: 50px;
  background-color: black;
  color: white;
  border: 0px solid white;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

label {
  margin-bottom: 1vh;
}

textarea {
  width: 27vw;
  margin-top: 1vh;
  height: 5vh;
  font-family: "Be Vietnam Regular";
  background-color: lightgreen;
  color: grey;
}

.poster {
  margin-top: 13vh;
  margin-left: 25vw;
  width: 50vw;
}

.poster > * {
  position: relative;
}


h1 {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Fablab';
  font-size:2vw;
  z-index: 5;
  color: black;
  width: 33vw;
  border: 3px solid black;
  background-color: white;
  padding: 1vw;
}

#page_titre {
  position: relative;
  height: 50vh;
  margin-left: -35%;
}

#texte {
  position: relative;
}

#texte:hover {
  z-index: 2000;
  background-color: white;
}


@font-face {
 font-family: "Be Vietnam Regular";
 src: url("bevietnam-regular-webfont.woff2") format("woff2"),
      url("bevietnam-regular-webfont.woff") format("woff");
}

@font-face {
 font-family: "Be Vietnam Bold";
 src: url("bevietnam-bold-webfont.woff2") format("woff2"),
      url("bevietnam-bold-webfont.woff") format("woff");
}


@font-face {
 font-family: "Fablab";
 src: url("fablab-webfont.woff2") format("woff2"),
      url("fablab-webfont.woff") format("woff");
}
