@media print {
  @page {
    size: 297mm 420mm;
    margin: 0;
    padding: 0;
  }
  body {
    overflow: hidden;
  }
  .interface {
    display: none !important;
  }
  .poster {
    left: 0 !important;
    top: 0 !important;
    width: 297mm !important;
  }
}

body {
  background-color: #bc5fd3;
  margin: 0;
  padding: 0;
}

.interface {
  position: fixed;
  width: 30vw;
  height: 100vh;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  font-family: 'Authentic';
  overflow-y: scroll;
}

.interfaceTitle {
  font-family: 'Authentic';
  font-size: 3vw !important;
}

.interface > * {
  padding: 1vw;
  font-size: 1.5vw;
  border-bottom: 3px solid black;
}

.interface > div:last-of-type {
  border-bottom: 0px solid grey;
}

a {
  text-decoration: none;
  color: lightgreen;
}

button, input[type="file"], input {
  font-family: 'Authentic';
  border-radius: 50px;
  background-color: black;
  color: white;
  border: 0px solid white;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

label {
  margin-bottom: 1vh;
}

textarea {
  width: 27vw;
  margin-top: 1vh;
  height: 5vh;
  font-family: 'Authentic';
  background-color: black;
  color: white;
}

.poster {
  position: fixed;
  top: 2vh;
  left: 40vw;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Authentic";
}

#post {
  font-family: 'Authentic';
}

#export {
  position: fixed;
  top: 5vh;
  left: 33vw;
  background-color: white;
  color: black;
  padding: 1vw;
  border-radius: 100px;
}

#download {
  position: fixed;
  top: 15vh;
  left: 33vw;
  color: white;
  padding: 1vw;
  border-radius: 100px;
}

#export:hover, #download:hover {
  cursor: pointer;
  background-color: blue;
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#place {
  font-family: 'Anthony';
  font-size: 146pt;
  left: 78mm;
  top: 285mm;
  line-height: 90%;
  width: 100mm;
  line-height: 109%;
  text-indent: -50mm;
}



@font-face {
 font-family: "Authentic";
 src: url("fonts/AUTHENTICSans-130.ttf") format("truetype"),
      url("fonts/AUTHENTICSans-130.otf") format("opentype"),
      url("fonts/AUTHENTICSans-130.woff2") format("woff2"),
      url("fonts/AUTHENTICSans-130.woff") format("woff");
}

